<p>
  E-Sports Initiative (ESI) was formed January 2011 as a student
  organization at the Ohio State University. Since its formation,
  the organization has worked to benefit children in need. By
  working closely with Nationwide Children's Hospital, ESI serves
  the needs of terminally-ill children through volunteering and
  an annual donation of $1,000. E-Sports Initiative's other primary
  interest deals with STEM (Science, Technology, Engineering, 
  and Mathematics)-related programs for students in middle school
  to college. Working with Ohio State's College of Engineering,
  ESI set up a $1,000 annual fund to facilitate efforts towards 
  STEM-related programs. In addition to funding other organizations,
  ESI sends volunteers to tutor at local libraries, to help with
  STEM-related events hosted by the College of Engineering, and to
  help improve the city of Columbus through local events and
  opportunities. After two years of operation, E-Sports Initiative
  has raised more than $10,000 from its charity tournaments and events.
  In its first year, ESI raised $2,100 from hosting Super Smash Bros.
  tournaments. Responding to community feedback, the organization
  expanded its base to include eSports and feature all kinds of games.
  From its League of Legends tournaments alone, ESI has raised
  $5,000. Additional events and tournaments have been held for games
  such as Starcraft II, DotA 2, and Halo 4. For our charity events,
  ESI has received sponsorship or support from GUNNAR Optiks, Valve,
  Riot, and many local food establishments in Columbus, OH. E-Sports
  Initiative hopes to continue its support of local community causes
  with great eSports events and to create a positive, constructive
  environment for the video game industry and its consumers.
</p>
  