<h2>Executive Members</h2>
  <p>
    President: Ray Tan </br>
	Faculty Advisor: Dr. Deb Grzybowski</br>
	Vice President: Juanita Dickhaus</br>
	Treasurer: Alex Stasinos</br>
	Secretary: Brandon Merriman</br>
	Charity: Alex Chen</br>
	Event Programming: Kase Corstanje</br>
	Corporate Liaison: Brett Hutton</br>
	Social Media:Sean Cody</br>
	Recruiting: Reasey Hem</br>
	Marketing: Tom Wilson</br>
	Graphic Design: Sean Davis</br>
	Webmaster: Brandon Jacques</br>
  </p>
<h2>General Members</h2>
  <p>
    Chris Brown</br>
	Jameson Daosavanh</br>
	Chris Vroegindewey</br>
	Curtis Rummel</br>
	Deshannon Gilbert</br>
	Eric Howell</br>
	Amar Karamali</br>
	Jacob Kipi</br>
	Jon Leung</br>
	Jonathan Huang</br> 
	Kyle Tracht</br>
	Reasey Hem</br>
	Sam Posa</br>
	Travis Remlinger</br>
	John Tse</br>
	Sean Davis</br>
	Shane Osborne</br>
	Dorien Xia</br>
  </p>