<h2>Executive Members</h2>
  <div class="members">
  <p>
    <b>President</b>: Ray Tan </br>
	<b>Faculty Advisor</b>: Dr. Deb Grzybowski</br>
	<b>Vice President</b>: Juanita Dickhaus</br>
	<b>Treasurer</b>: Alex Stasinos</br>
	<b>Secretary</b>: Brandon Merriman</br>
	<b>Charity</b>: Alex Chen</br>
	<b>Event Programming</b>: Kase Corstanje</br>
	<b>Corporate Liaison</b>: Brett Hutton</br>
	<b>Social Media</b>:Sean Cody</br>
	<b>Recruiting</b>: Reasey Hem</br>
	<b>Marketing</b>: Tom Wilson</br>
	<b>Graphic Design</b>: Sean Davis</br>
	<b>Webmaster</b>: Brandon Jacques</br>
  </p>
<h2>General Members</h2>
  <p>
    Chris Brown</br>
	Jameson Daosavanh</br>
	Chris Vroegindewey</br>
	Curtis Rummel</br>
	Deshannon Gilbert</br>
	Eric Howell</br>
	Amar Karamali</br>
	Jacob Kipi</br>
	Jon Leung</br>
	Jonathan Huang</br> 
	Kyle Tracht</br>
	Reasey Hem</br>
	Sam Posa</br>
	Travis Remlinger</br>
	John Tse</br>
	Sean Davis</br>
	Shane Osborne</br>
	Dorien Xia</br>
  </p>
  </div>