@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
 
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
 
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
 
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
 
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  /* background-image:url(image_path('bodyBackground.png')); */
  /*background-image: url(image_path('pattern2.png'));*/
  
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  margin-right: auto;
  margin-left: auto;
}

.container {
  margin-right: auto;
  margin_left: auto;
  float: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  /*padding-top: 9px;*/
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Title */

.title {
  padding: 50px;
  /*@include gradient($green, $blue);*/
  h1 {
    /*color: $white;*/
  }
  h4 {
    letter-spacing: 4px;
	text-align: center;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* posts index */

.posts {
  list-style: none;
  margin: 0;
  
  .onepost {
    padding-bottom: 40px;
	padding-top: 10px;
	background: $grayLighter;
	padding-left: 10px;
	@include box_sizing;
	@include rounded-corners(5px);
	margin-bottom: 15px;
	@include box-shadow(0 3px 5px rgba(0,0,0,.25));
  }
  .post-header {
	border-right: 1px dashed $grayLight;
  }
}

/* Static Pages */

.picture-frame {
  margin: 50px;
  text-align: center;
}  

.partners {
  text-align: center;
  h3 {
    @include rounded-corners(5px);
    background: $grayLighter;
	padding: 25px;
  }
}

.members {
  p {
    text-align: center;
  }
  
  h2 {
    margin: 30px;
  }

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
